<ion-view view-title="Easy order">
  <ion-content class="padding">
    <img id="logoprincipal" src="img/easyorder.png" alt="Easy Order">
    <h1>Bienvenido!</h1>
    <h2>Ingrese el número de mesa</h2>

    <form id="form" method="post">
        <select name="mesa" id="selectmesa">
          <option ng-repeat="mesa in mesas" value="{{ mesa.id }}">{{ mesa.codigo }}</option>
        </select>
        <input type="submit" id='btn_entrar' value="Adelante" disabled="true" />
      </form>
  </ion-content>
</ion-view>
